
.main-color > #root > div {
  min-height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100% !important;
  overflow: hidden;
}
.main-color {
  min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-li {
  list-style-type: none;
}
