
.main-color > #root > div {
  min-height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100% !important;
  overflow: hidden;
}

.landing{
  padding: 50px;
}

.fa-coffee{
  font-size:2.5em;
}

.main-li {
  list-style-type: none;
}
